node_modules

src/core/soulPresets

Server/llama/llama_cpp_bin
Server/llama/model

src/plugins/tts/strategies/local/f5_tts

logs
index.js

src/plugins/discord/config.js

__test__/localPass
__test__/Archive

# Additional configuration and temporary files
*.log
.env
history/*.json
!history/.gitkeep
tmp/
config/*.js
!config/*.example.js